# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Next.js build output
.next

# Other build outputs
dist
.vercel

private/realtimechat-ea555-firebase-adminsdk-rhfxu-27e6017626.json
private/realtimechat59-4f88949d8c8b.json
